<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <label>id</label>
        <input type="text" name="id">
        <label>nombre_especialidad</label>
        <input type="text" name="nombre_especialidad">
        <input type="submit" value="Guardar">
    </form>

</body>
</html>