<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Especialidad</title>
</head>
<body>
    <h3>Modificar Información de la Especialidad</h3>
    <form action="" method="POST">
        <label>Nombre de la Especialidad:</label>
        <input type="text" name="nombre_especialidad" required maxlength="100" value="{{ especialidad.1 }}">
        
        <input type="submit" value="Guardar Cambios">
        <a href="/especialidades/">Volver</a>
    </form>
</body>
</html>